<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/profile.js}" charset="utf-8"></script>
    <link rel="stylesheet" th:href="@{css/profile.css}" type="text/css"/>
    <title>Title</title>
</head>
<body>
<div id="main-frame1">
    <div id="main-frame2">
        <div id="main-frame3">
            <div id="main-frame-input-fro-single-stud-text">
                <h3>Посмотреть расписание студента</h3>
                <h2>Введите фамилию и имя студента</h2>
            </div>
            <div id="main-frame-input-fro-single-stud">
                <input id="firstName-input" name="firstName" size="35" type="text" value="">
                <input id="lastName-input" name="lastName" size="35" type="text" value="">
            </div>
        </div>
    </div>
    <div id="table-frame1">
        <div id="table-frame2">
            <table id="main-table-frame">
                <caption> Название чего-то</caption>
                <tr id="table-frame-date"> Дата
                    <th> Дата-1</th>
                    <th> Дата-2</th>
                    <th> Дата-3</th>
                </tr>
                <tr id="table-frame-discipline">
                    <td colspan="1">
                    <td> Предмет1</td>
                    <td> Предмет2</td>
                    </td>
                    <td colspan="2">
                    <td> Предмет1</td>
                    <td> Предмет2</td>
                    </td>
                    <td colspan="3">
                    <td> Предмет1</td>
                    <td> Предмет2</td>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>