<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/profile.js}" charset="utf-8"></script>
    <link rel="stylesheet" th:href="@{css/profile.css}" type="text/css"/>
    <link href="profile.css" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>
<div id="main-frame1">
    <div id="main-frame2">
		<h3>Посмотреть успеваймость студента</h3>
        <div id="main-frame3">
            <div id="main-frame-input-fro-single-stud-text">
                <h2>Введите фамилию и имя студента</h2>
            </div>
            <div id="main-frame-input-fro-single-stud">
                <input id="firstName-input" name="firstName" size="35" type="text" value="Александр">
                <input id="lastName-input" name="lastName" size="35" type="text" value="Моисеев">
                <button id="getDataByName">Взять данные</button>
            </div>
        </div>
		<div id="main-frame3-group">
            <div id="main-frame-input-for-group-text">
                <h2>Введите название и номер группы</h2>
            </div>
            <div id="main-frame-input-fro-group-stud">
                <input id="groupName-input" name="groupName" size="35" type="text" value="РКЛМ">
                <input id="groupNumber-input" name="groupNumber" size="35" type="text" value="12">
                <button id="getDataByGroup">Взять данные</button>
            </div>
        </div>
    </div>
    <div id="table-frame1">
        <div id="table-frame2">
            <table id="main-table-frame">
                <caption> Название чего-то</caption>
                <tr id="table-frame-date">
                    <th> Дата</th>
                    <th colspan="2"> Дата-1</th>
                    <th colspan="4"> Дата-2</th>
                    <th colspan="2"> Дата-3</th>
                </tr>
                <tr id="table-frame-discipline">
                    <th> Предметы</th>
                    <th> Предмет1</th>
                    <th> Предмет2</th>
                    <th> Предмет1</th>
                    <th> Предмет2</th>
                    <th> Предмет1</th>
                    <th> Предмет2</th>
                    <th> Предмет2</th>
                    <th> Предмет2</th>
                </tr>
                <tr id="table-frame-students">
                    <th>Иванов Иван</th>
                    <td>Хорошо</td>
                    <td>Хорошо</td>
                    <td>Хорошо</td>
                    <td>Хорошо</td>
                    <td>Хорошо</td>
                    <td>Хорошо</td>
                    <td>Хорошо</td>
                    <td>Хорошо</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>