#filter-table {
    width: 100%;
}

#filter-table th {
    background-color: #dadada;
}

#filter-table td, #filter-table th {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#main-table-frame table {
    margin: 50px 0;
    text-align: left;
    border-collapse: separate;
    border: 1px solid #ddd;
    border-spacing: 10px;
    border-radius: 3px;
    background: #fdfdfd;
    font-size: 14px;
    width: auto;
}

td,th{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
}
th{
    background: #E4E4E4;
}
caption{
    font-style: italic;
    text-align: right;
    color: #547901;
}

